.Rproj.user
.Rhistory
.RData
.Ruserdata


21.319.81.438.png.rda
44.495.81.438.png
44.495.81.438.png.rda
Delhi.csv
IND_adm0.cpg
IND_adm0.csv
IND_adm0.dbf
IND_adm0.prj
IND_adm0.shx
IND_adm1.cpg
IND_adm1.csv
IND_adm1.dbf
IND_adm1.prj
IND_adm1.shp
IND_adm1.shx
IND_adm2.cpg
IND_adm2.csv
IND_adm2.dbf
IND_adm2.prj
IND_adm2.shp
IND_adm2.shx
IND_adm3.cpg
IND_adm3.csv
IND_adm3.dbf
IND_adm3.prj
IND_adm3.shp
IND_adm3.shx
Join_Output.cpg
Join_Output.dbf
Join_Output.prj
Join_Output.shp
Join_Output.shx
Mumbai.csv
NonInterativeHotSpot.png
Presentation_Draft1.nav
Presentation_Draft1.pdf
Presentation_Draft1.snm
Presentation_Draft1.synctex.gz
Presentation_Draft1.tex
SafeCityClean.csv
Sexualharassment.csv
Tang_Presentation.nav
Tang_Presentation.snm
Tang_Presentation.synctex.gz
Tang_Presentation.tex
WATER_BODY.dbf
WATER_BODY.prj
WATER_BODY.sbn
WATER_BODY.sbx
WATER_BODY.shp
WATER_BODY.shp.xml
WATER_BODY.shx
congress.csv
delhi_highway.dbf
delhi_highway.prj
delhi_highway.shp
delhi_highway.shx
delhi_water.dbf
delhi_water.prj
delhi_water.shp
delhi_water.shx
delhiincidents.csv
delhitable.xls
fishnet7.cpg
fishnet7.dbf
fishnet7.prj
fishnet7.sbn
fishnet7.sbx
fishnet7.shp
fishnet7.shx
georgia.dbf
georgia.shp
georgia.shx
incidents
incidents.csv
merge
merge.csv
merge2.csv
mergedtry.csv
mumbaiincidents.csv
mumbaincidents.xls
nontransit.csv
pleaseword.csv
roads.dbf
roads.shp
roads.shx
safecity.csv
test.R
testbib.Rmd
testbib.pdf
transit.csv
tryagain.csv
waterways.dbf
waterways.shp
waterways.shx